/* Generics */
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	/* margin: 0;
	padding: 0;
	box-sizing: border-box; */
}

h1 {
    color: blue;
}
h2 {
    color: #50C878;
}
h4 {
    color: #b22222
}
/*stile tabella copiato da html.it*/
table,
td,
th
{
	border:1px solid #eee;
	border-collapse:collapse;

	padding:3px 5px
}
td
{
	text-align:right
}

th
{
	text-align:left
}
tr.odd td,
tr.odd th
{
	background-color:#D5E4FF;
}

caption
{
	font-weight:bold;
	color:#999
}
